#################################################################################
#  Copyright (c) 2025 Contributors to the Eclipse Foundation
#
#  See the NOTICE file(s) distributed with this work for additional
#  information regarding copyright ownership.
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License, Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0.
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#  License for the specific language governing permissions and limitations
#  under the License.
#
#  SPDX-License-Identifier: Apache-2.0
#################################################################################

tractusx-connector:
  install:
    postgresql: true
    vault: true
#  customCaCerts:
#    test.pem: |
#      -----BEGIN CERTIFICATE-----
#      MIICuzCCAaMCAQAwMzELMAkGA1UEBhMCREUxEDAOBgNVBAgMB0JhdmFyaWExEjAQ
#      ...
#      -----END CERTIFICATE-----
  participant:
    id: "BPNLCHANGEME"

  iatp:
    id: "did:web:changeme"
    trustedIssuers: []
    sts:
      dim:
        url:
      oauth:
        token_url:
        client:
          id:
          secret_alias:

  controlplane:
    image:
      # override the edc docker image with the kafka extension image
      repository: "edc-controlplane-kafka"
      pullPolicy: IfNotPresent
      tag: "latest"

    endpoints:
      management:
        authKey: "password"
    bdrs:
      server:
        url:

    # -- Extra environment variables that will be pass onto deployment pods
    env: {}
    #  ENV_NAME: value

    resources:
      limits:
        cpu: 1
        memory: 1024Mi
      requests:
        cpu: 100m
        memory: 1024Mi

  dataplane:
    token:
      refresh:
        refresh_endpoint:
      signer:
        privatekey_alias:
      verifier:
        publickey_alias:

    resources:
      limits:
        cpu: 1
        memory: 1024Mi
      requests:
        cpu: 100m
        memory: 1024Mi
    url:
      public: ""

  postgresql:
    image:
      repository: bitnamilegacy/postgresql

  vault:
    server:
      postStart:
        - sh
        - -c
        - |-
          {
          sleep 5
          /bin/vault kv put secret/secretKey content=mysecret
          /bin/vault kv put secret/tokenSignerPublicKey content=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBc1AxV2w1MHZpS3pWcXc4SEdGV1ANCmlzK004SW00ZGFURk1uZWQ1UXIyejkwRk5na2oxRVZoaXAwbU9kRDZrRGczYlc0Unh5TDZ6M2pXaTE5SktCSFoNCjY4VVRnWk5kUGJoaFBOTEVHY1FwdTh1d2dGY1dLTDRQL0lPeWtFZUU4UmVzR09WZy9Iek5FN0hrVGdpQmRyMkMNCk1URUZMM3pUbWRyMHZiRkdNYk9UUHlPdktNb3kvMkZhSmFKQVBYbzNwb0dxZlJ2cjZHdTZ0b3Aya3RSZC96OE4NCmhCcHV6eDlReXBJc0U2Mm9vTE5QcHF6amV6ZnZ6SmJjM3Rrby9jWE5PeUdvWld1RUtNVGZLd1lxM1pqc1RaS2sNCmJqVk5nZG9FRlNXcGQ2VHFrNzZCMUNib3h2MUNEOHh3MGNRMTQ5ZVcwSXVMa0FrM2VGNWVaUjRpUTVZQU9acUENClVRSURBUUFCDQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0=
          /bin/vault kv put secret/tokenSignerPrivateKey content=LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tDQpNSUlFdkFJQkFEQU5CZ2txaGtpRzl3MEJBUUVGQUFTQ0JLWXdnZ1NpQWdFQUFvSUJBUUN3L1ZhWG5TK0lyTldyDQpEd2NZVlkrS3o0endpYmgxcE1VeWQ1M2xDdmJQM1FVMkNTUFVSV0dLblNZNTBQcVFPRGR0YmhISEl2clBlTmFMDQpYMGtvRWRucnhST0JrMTA5dUdFODBzUVp4Q203eTdDQVZ4WW92Zy84ZzdLUVI0VHhGNndZNVdEOGZNMFRzZVJPDQpDSUYydllJeE1SY3ZmTk9aMnZTOXNVWXhzNU0vSTY4b3lqTC9ZVm9sb2tBOWVqZW1nYXA5Ryt2b2E3cTJpbmFTDQoxRjMvUHcyRUdtN1BIMURLa2l3VHJhaWdzMCttck9ON04rL01sdHplMlNqOXhjMDdJYWhsYTRRb3hOOHJCaXJkDQptT3hOa3FSdU5VMkIyZ1FWSmFsM3BPcVR2b0hVSnVqRy9VSVB6SERSeERYajE1YlFpNHVRQ1RkNFhsNWxIaUpEDQpsZ0E1bW9CUkFnTUJBQUVDZ2dFQUtEOFhqWWI4RytXSGVleERKZ1N3elRVb25Mc0lnOUg1MktITU9Seis1bUloDQpVUG9QbUhIRmZqNkJob1N2c1pOakFVS1dEdFUwdVBDR3d1OGlSTmNZV2ExNUk4NDFsZmNqUDNCREVRUGpKSlhyDQpOeWYyZlVISkExZ1VSd3hJWGdXT3lDT0M1QzloOS9CTUZQV0lzUTVqZUZtc0pzdUpGNU9yY3laSWFyMWx4cVd1DQpRK0hDN2YvN0pOa3BSMjZ1SXlHanMxT1h3ZnArbUhxemUyUWY4aExXSVhjTjl0QkNRWjc1Q2c3cmFyTlZpbU1DDQo1OVFEODBKWkNIVGFDWDFadEUxVDhITSs1M09iNzhsbkZDdUJmaUJUL1MzTy9OWFZzRU45cTZyTVdLaEVUVldSDQpVWDU2RXFaN1hHU01PenVaeUs3a2oxUXNIekVNcnJIandEU05TakFxRlFLQmdRQzZoRWVBV1BDRU0rV1ZvRjluDQptaHZ3WlZadi9QUHlMQWFyeWtCVEdvZUhSMmhxTnlpaDlKbWNYTCtYUUhNbGh5MUthOE50Skh2ZnlCMXhoWGdGDQovZDkxaS9ZcTAyK25ab0pQTm5WV284em9YSUFJcSt4ZzlDQml1MGFnQnh2NDVQakprRWtRbW1FRzRJZWoxK0tmDQo1LytkSTdzRmpFMlQ0cS9sTEswQXczeCt6UUtCZ1FEeTdIbzdlUmk1Q1YxS3MrcjVscEdHZE0xNWhiRTV0dmlFDQpmbUp2YUVVaDNvV3V3ZGt5RmpEL1FFUElURzFiRnV2aEFUZEVFV3hUYnVzd05FYkVMTGhLQ1BjaXhjSTBzTFVPDQo2QmVOaTFZRDZvdXVxc1dCTHZtRTRodm9EUjdSbGtwVWR1eFdwWjJ0TklESllZVHdDRVJoY1lLOU90SFUxNWtjDQpsUzBwRWpGL2xRS0JnRWgrMjgvT1FnWVFxZDdqaTlHWCs5NFBkVzVuMG1YQnFRSWl4YWZIZXdBZ3lEdm9ucGw4DQptaXhGZkk2TWxYVHp1cTNmZndFd0dobmNEVjJ2Yy94WU5mL1pXK0EvZUhtSGhZVEdkUXNzOVpzblFQaWQ0bTI0DQoxZEdxV3dRZVgwZjVyNTJnd0ZWOHU5UFJkOGMrUlM3RUhQMTJBdDVnTDFNWTNDZG1td1BkOThqTkFvR0FTdlBWDQoveFd0SUNLWWkxMGFDaXAvK2tsOXdKb1VoYWRENUxXT0w2dXZjUFRVc0lnVk9OUUtDQ2ZQQWpVNnBKbGM3RTdRDQp1NHJZcnFHUnBZenJyTW5UanR4WFRINVNIcW5MSTY5TzNSaDUwTG1Fb2I4Rk00Zkg2MDFNcVB1clg2V01oNlV0DQo1TW95N1djK3VXUUNmWUUvZ0FWaS9ubndsa2h6Y0pOQ25PS0ZMVVVDZ1lBNG5iaExyZEVlQ0JKYXMyK1o5YUd3DQovU3VydEhGMnoybWVBUE8zVmFZc2xmMEQweEt6VUl2NWhra3phTmdzMHBGR3QwQmNLZlRXa1l5L0hoNFFYWmhtDQovL1pycWJrVnNxekRPY3FHd1FjRG1VRU4vVCt2cHJVSlZLcXBOSFhUNmZ6M09UeWR4TFE3SzdTWHp3WFdZZlJXDQpjcGpkcjBjMXRWVkxNeU5HK1dhaHJnPT0NCi0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0=
          }
